<div class='content-wrapper'> 
<h1><%= @plant.name %></h1>
<% if @plant.img.attached? %>
    <img src="<%=(url_for(@plant.img))%>">
 <% end %>

<h3>Comment:</h3>
<%= @comment.title%>
<h3>Poster:</h3>
<%= @comment.user.name%>
<h3> Content:</h3>
<%= @comment.content%>
</div>

