<h1> <%= @user.username %> </h1>
 <ul>
    <li><% @user.plants.each do |plant| %><br><br>
        <a href="/plants/<%= plant.id %>"><%= plant.name %></a>
    <%end%>
    </li>
</ul>

<%= link_to 'Home', '/' %>
<%= link_to 'Plants', plants_path %>
