<%= form_with(model: @plant, local: true) do |f| %>
<div class='content-wrapper'> 
    <%= f.label :Photo  %>
    <%= f.file_field :img%>
    <br>
    <%= f.label :name  %>
    <%= f.text_field  :name%>
    <br>
    <%= f.label :species  %>
    <%= f.text_field :species  %>
    <br>
    <%= f.label :toxicity  %>
    <br>
    <%= f.label :toxicity, 'Toxic'%>
    <%= f.radio_button :toxicity, true %>
    <%= f.label :toxicity, 'Nontoxic'%>
    <%= f.radio_button :toxicity, false %>
    <br>
    <%= f.label :sunlight  %>
    <%= f.text_field :sunlight  %>
    <br>
     <%= f.label :water  %>
    <%= f.text_field :water  %>
    <br>
     <%= f.label :propogation  %>
    <%= f.text_field :propogation  %>
    <br>
    <%= f.label :Order %>
    <%= f.collection_select :order_id, Order.all, :id, :order %>
    <br>
    <br>
    <p> Or Add New Order:</p>
      <%= f.fields_for :orders do |o| %>
        <%= o.label :order %>
        <%= o.text_field :order %>
        <br>
    <% end %>
    <br>

  <%= f.submit %>

</div>

<% end %>
