<h1><%= @plant.name %></h1>

<h3>Species:</h3>
<%=@plant.species%>
<br>
<h3>Sunlight Needed:</h3>
<%=@plant.sunlight%>
<br>
<h3>Toxicity:</h3>
<%=@plant.toxicity %>
<br>
<h3> Thirst: </h3>
<%= @plant.water %>
<h3> How to Propogate: </h3>
<%= @plant.propogation %>
<br>



<h2>Comments:</h2>
<% @plant.comments.each do |f| %>
<%= f.title %>
<%= f.content %>
<% end %>
<%= link_to 'Add Comment', new_comment_path(:id => @plant.id)  %>
